.product-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  .button {
    display: flex;
    flex-direction: column;
    a {
      margin-bottom: 10px; 
    }
  }
}