<!-- footer -->
<footer id="aa-footer">
    <!-- footer bottom -->
    <div class="aa-footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-top-area">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <h3>Thông tin</h3>
                                    <ul class="aa-footer-nav">
                                        <li><a href="#">Trang chủ</a></li>
                                        <li><a href="#">Dịch vụ</a></li>
                                        <li><a href="#">Sản phẩm</a></li>
                                        <li><a href="#">Về chúng tôi</a></li>
                                        <li><a href="#">Liên hệ</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Chính sách</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="#">Giao hàng</a></li>
                                            <li><a href="#">Đổi trả</a></li>
                                            <li><a href="#">Đặt hàng</a></li>
                                            <li><a href="#">Giảm giá</a></li>
                                            <li><a href="#">Sự kiện</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Hỗ trợ</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="#">Bản đồ</a></li>
                                            <li><a href="#">Tìm kiếm</a></li>
                                            <li><a href="#">Tìm kiếm nâng cao</a></li>
                                            <li><a href="#">Nhà cung cấp</a></li>
                                            <li><a href="#">Hỏi đáp</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Liên hệ</h3>
                                        <address>
                                            <p>289 Lương Thế Vinh, Thanh Xuân, Hà Nội</p>
                                            <p><span class="fa fa-phone"></span>036 234 5622</p>
                                            <p><span class="fa fa-envelope"></span>nguyenhuyquang255@gmail.com</p>
                                        </address>
                                        <div class="aa-footer-social">
                                            <a href="https://www.facebook.com/wuatshop/"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-instagram"></span></a>
                                            <a href="#"><span class="fa fa-youtube"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom -->
    <div class="aa-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-bottom-area">
                        <p>Powered by <a href="https://www.facebook.com/minhtuvu141995">Garçon d'Avril</a></p>
                        <div class="aa-footer-payment">
                            <span class="fa fa-cc-mastercard"></span>
                            <span class="fa fa-cc-visa"></span>
                            <span class="fa fa-paypal"></span>
                            <span class="fa fa-cc-discover"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- / footer -->