<!-- footer -->
<footer id="aa-footer">
    <!-- footer-bottom -->
    <div class="aa-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-bottom-area">
                        <p>Powered by <a href="https://www.facebook.com/minhtuvu141995">Vu Tuan Anh</a></p>
                        <div class="div">
                            <p><span class="fa fa-phone"></span>097 109 7357</p>
                            <p><span class="fa fa-envelope"></span>vutuananh2391997@gmail.com</p>
                        </div>
                        <div class="aa-footer-social">
                            <a href="https://www.facebook.com/wuatshop/"><span class="fa fa-facebook"></span></a>
                            <a href="#"><span class="fa fa-instagram"></span></a>
                            <a href="#"><span class="fa fa-youtube"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- / footer -->