<!-- Start header section -->
<header id="aa-header">

  <!-- start header bottom  -->
  <div class="aa-header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-bottom-area">
            <!-- logo  -->
            <div class="aa-logo">
              <!-- Text based logo -->
              <a class="aa-logo-link" href="index.html">
                <img src="assets/img/logo.jpg" alt="logo">
              </a>
              <!-- img based logo -->
              <!-- <a href="index.html"><img src="img/logo.jpg" alt="logo img"></a> -->
            </div>
            <!-- / logo  -->
            <!-- searchbox and cartbox -->

            

          </div>
        </div>
      </div>
    </div>

    <app-menu></app-menu>
    
  </div>
  <!-- / header bottom  -->
</header>
<!-- / header section -->